/*  General styling*/
body {
    margin: 0;
}

:root {
    /* FOOTER */
    /* VARIABLER */
    /* farver */
    --brun: #422d27;
    --pink: #ffb3e8;
    --mosgrøn: #5c5718;
    --mørkegrøn: #2e4428;
    --alivegrøn: #d7ffc2;
    --gul: #ffffdf;

    /* font */

    line-height: 1.5;
}

/* HEADER */
header {
    ul {
        list-style: none;
        padding: 0;
    }

    li {
        display: inline-block;
        margin-right: 20px;
    }

    nav {
        background: var(--brun);
        height: 80px;
        display: flex;
        width: 100%;
        flex-direction: row;
        position: sticky;
        top: 0;
    }

    .logoHeader {
        max-width: 100%;
        height: 4rem;
    }

    nav ul {
        justify-items: center;
        justify-content: space-around;
        display: flex;
        width: 100%;
        color: var(--gul);
        align-items: center;
    }

    .burgerMenuLabel {
        cursor: pointer;
        color: var(--gul);
        display: flex;
        align-items: center;
        padding: 0;
        margin: 0;
    }

    #burgerMenuIcon,
    .searchIcon {
        height: 2rem;
        cursor: pointer;
    }

    /* Dropdown menu */
    #navDropdown {
        position: absolute;
        top: 80px;
        left: 0;
        width: 100%;
        background: var(--brun);
        z-index: 1000;
        max-height: 0;
        opacity: 0;
        visibility: hidden;
        overflow: hidden;
        transition: max-height 0.4s ease-in-out, opacity 0.4s ease-in-out, visibility 0.4s;
    }

    #navDropdown.show {
        max-height: 400px;
        /* Rigeligt til 6 links */
        opacity: 1;
        visibility: visible;
    }

    .nav-list {
        list-style: none;
        display: flex;
        flex-direction: column;
        padding: 0;
        margin: 0;
    }

    .nav-list li {
        position: relative;
        margin: 0;
        padding: 15px 0;
        text-align: center;
        border-top: 1px solid rgba(255, 255, 0, 0.1);
        display: block;
    }

    .nav-list li a {
        text-decoration: none;
        color: var(--gul);
        line-height: 1.5;
        font-size: 1.2rem;
        display: block;
    }
}

/* FOOTER */
footer {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    height: 100px;
    background-color: var(--brun);
    position: sticky;
    padding-bottom: 2rem;
    bottom: 0;

    a {
        text-decoration: none;
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .footerLink {
        color: var(--gul);
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 75px;


        p {
            font-size: 14px;
            margin: 0;
            text-align: center;
        }

        i {
            font-size: 28px;
            padding-bottom: 1rem;
        }

        .hjem {
            padding-top: 2rem;
        }

    }

    img {
        width: 100px;
        height: 120px;
        object-fit: cover;
        position: relative;
        object-position: top;
        margin-top: -170px;
        z-index: 10;

    }
}

/* FORSIDE */





/* PROGRAMMER */
nav.programDropdown {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;

    a,
    span {
        text-decoration: none;
        color: var(--gul);
    }

}

nav.programDage {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;

    a {
        text-decoration: none;
        color: var(--gul);
    }
}

nav.programDage,
nav.programDropdown {
    height: 50px;
    align-items: center;
    background-color: var(--brun);
}


div.program {
    height: 150px;
    background-color: var(--pink);
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    flex-direction: column;
    padding: 1rem;
    border: 2px solid var(--brun);
    color: var(--brun);


    h2,
    p {
        margin: 0;
    }

    h2 {
        font-size: 36px;
    }

    i {
        display: flex;
        align-self: flex-end;
        font-size: 2rem;
    }
}