/*  General styling*/
body {
    margin: 0;
}

:root {
    line-height: 1.5;

    /* VARIABLER */
    /* farver */
    --brun: #422d27;
    --pink: #ffb3e8;
    --mosgrøn: #5c5718;
    --mørkegrøn: #2e4428;
    --alivegrøn: #d7ffc2;
    --gul: #ffffdf;

    /* font */
}






/* HEADER */

/* FOOTER */
footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100px;
    background-color: var(--brun);
    position: sticky;
    bottom: 0;

    a {
        text-decoration: none;
    }

    .footerLink {
        color: var(--gul);
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 75px;


        p {
            font-size: 14px;
            margin: 0;
            text-align: center;
        }

        i {
            font-size: 28px;
            padding-bottom: 1rem;
        }

        .hjem {
            padding-top: 1rem;
        }



        img {
            width: 100px;
            height: 90px;
            object-fit: cover;
            position: relative;
            margin-top: -60px;
            z-index: 10;

        }
    }
}

/* FORSIDE */

/* PROGRAMMER */

/* MUSIK PROGRAM  */

/* MUSIK PROGRAM TORSDAG*/
/* MUSIK PROGRAM  FREDAG*/
/* MUSIK PROGRAM  LØRDAG*/




/* KUNST PROGRAM  */

/* UDFLUGT PROGRAM  */

/* ANDET PROGRAM */